*{
    box-sizing: border-box;
    color: black;
}

.container{
    margin: 3rem;
    margin-bottom: 0rem;
    display: flex;
}

h2{
    color: #4a88ec;
}

ul{
    margin-left: 2rem;
    list-style: square;
    font-size: 1.25rem;
}

.category{
    font-weight: 700;
    margin-top: 0.5rem;
}